@model DidUFall4It_DDACGroupAssignment_Group21.Models.QuizModel

@{
    ViewData["Title"] = "Quiz Questions";
}

<h2>Questions for: @Model.Title</h2>

@if (Model.QuestionIds != null && Model.QuestionIds.Any())
{
    <ul class="list-group">
        @foreach (var question in Model.QuestionIds)
        {
            <li class="list-group-item">
                <strong>@question.QuestionText</strong>
                <ul>
                    <li>A. @question.OptionOne</li>
                    <li>B. @question.OptionTwo</li>
                    <li>C. @question.OptionThree</li>
                    <li>D. @question.OptionFour</li>
                </ul>
            </li>
        }
    </ul>
}
else
{
    <div class="alert alert-warning">No questions found for this quiz.</div>
}